.container-fluid{
  background-color:#00549f;
  height:100px;
}

.pagename{
  color:#ffffff;
  font-family:Play;
  font-size:40px;
}

.loginbox{
  width:450px;
  height:450px;
  background-color:#00549f;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px 10px 10px 10px;
}

.loggreet{
  color:#ffffff;
  font-family:Play;
  font-size:36px;
  text-align:center;
}

.logtext{
  color:#ffffff;
  font-family:Play;
  font-size:25px;
  text-align:center;
}

.DataHead{
  color:#00549f;
  font-family:Play;
  font-size:40px;
}

.DataSmall{
  color:#00549f;
  font-family:Play;
  font-size:20px;
  padding-top:20px;
}

.DataFill{
  height:41px;
  background-color:#aaa9a9;
  color:#ffffff;
  font-family:Play;
  font-size:20px;
  text-align:center;
  line-height:41px;
}

.DataComm{
  height:100px;
  background-color:#aaa9a9;
  color:#ffffff;
  font-family:Play;
  font-size:20px;
  text-align:left;
  line-height:30px;
  padding-left:4px;
}

label {
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  font-family : Play;
  }

.big {
  color: #00549f;
  font-size: 36px;
  padding: 15px;
  font-family : Play;
} 
.container-fluid  {
  background-color:#00549f;
  height: 100px;
  font-family : Play;
}
.bar  {
  color: #ffffff;
  font-size: 36px;
  font-family:Play;
}

.bar button  {
  background-color: #ffffff;
  height: 76px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #00549f;
  border: none;
  font-family : Play;

}

.borderr {
  border: 5px #00549f solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height:488px

}

.list-group {
  height:350px;
   overflow-x: auto;
  }
 

 


